<h2 class="page-header">
  Chart Service Demo
</h2>
<div>
  <form>
    <div>
      <label for="#startDate">Start Date</label>
        <input type="date" [(ngModel)]="startDate" name='startDate' id="startDate">
        <span *ngIf="!startDate">choose start date</span>
    </div>
    <div>
      <label for="#endDate">End Date</label>
        <input type="date" [(ngModel)]="endDate" name='endDate' id="endDate">
        <span *ngIf="!endDate">choose end date</span>
    </div>
    <button pButton  type="submit" (click)='getChartData()'>submit</button>
  </form>
</div>
<p-chart *ngIf="data; else noData" type="bar" [data]="data"></p-chart>
<ng-template #noData>Sunbmit details to see data</ng-template>